<script id="news-template" type="x-handlebars-template">​
    {% raw %}
        {{#each this}}
              <article id="{{id}}" >
                    <header><h3>{{ title }}</h3></header>
                    <div class="news__content">
                            {{{ content }}}
                    </div>
              </article>
        {{/each}}
    {% endraw %}
</script> 
<script id="slide-template" type="x-handlebars-template">​
    {% raw %}
        {{#each this}}
              <div class="slider__slide" id="slide_{{movie_id}}" data-movie_id="{{movie_id}}" align="center">
                  <div class="slide__container " style="background-image:url('{{image}}')">
                        <nav class="slide__menu">
                              <ul>
                                  <li><a class="slide__menu__link" data-target="info" data-loaded="1" href="#">Инфо</a></li>
                                  <li><a class="slide__menu__link" data-target="images" data-loaded="0" href="imgs">Кадры</a></li>
                                  {{#if trailer_code}}<li><a class="slide__menu__link" data-target="trailer" data-loaded="1" data-trailer_code="{{trailer_code}}" href="#">Трейлер</a></li>{{/if}}
                                  <li><i class="material-icons close">clear</i></li>
                              </ul>
                        </nav>
                        <div class="slide__content left-align">
                            <div class="slide__info">
                                <h3>{{name}}</h3>
                                <ul>
                                    <li><span>Режиссер: </span>{{director}}</li>
                                    <li><span>Жанр: </span>{{genre}}</li>
                                    <li><span>Продолжительность: </span>{{runtime}} мин.</li>
                                    <li><span>Описание: </span>{{description}}</li>
                                </ul>
                            </div>
                            <div class="slide__images" style="display: none"></div>
                            <div class="slide__trailer" style="display: none">
        <!--                    <iframe width="854" height="480" src="https://www.youtube.com/embed/{{ trailer_code }}" frameborder="0" allowfullscreen></iframe>-->
                            </div>
                        </div>
                  </div>
              </div>
        {{/each}}
    {% endraw %}
</script>
<script id="slide__images-template" type="x-handlebars-template">​
    <div class="slide__images__list">
        <div class="clearfix" style="max-width:1000px;">
          <ul class="image-gallery list-unstyled cS-hidden">
             {% raw %}
                {{#each this}}
                    <!-- thumbnail image wrapped in a link -->
                     <li data-thumb="{{ thumb }}">
                        <img src="{{ thmb2 }}" alt="{{ name }}" />
                     </li>
                {{/each}}
             {% endraw %}
          </ul>
        </div>
    </div>
</script>
<script id="schedule-template" type="x-handlebars-template">​
     {% raw %}
            {{#list_schedule this}}{{/list_schedule}}
     {% endraw %}
</script> 
<script id="slide__trailer-template" type="x-handlebars-template">​
        <iframe width="1000" height="500" src="https://www.youtube.com/embed/{{ trailer_code }}" frameborder="0" allowfullscreen></iframe>
</script> 