{% extends 'base.html' %}
{% block css %}
        <link href="{{ url_for('main.static', filename='js/lib/lightslider/css/lightslider.css') }}" rel="stylesheet">
        <link href="{{ url_for('main.static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}
 {% block headmenu %}
                    <nav class="head__menu">
                        <ul>
                            <li><a id="menu__news" href="#news">Новости</a></li>
                            <li><a href="" >Контакты</a></li>
                            <li><a target="_blank" class="room_link"  href="{{ url_for('room.index') }}">Зал</a></li>
                            <!--<li><a href="">Зал <i class="material-icons">fiber_manual_record</i></a></li>-->
                        </ul>
                    </nav>
              {% endblock %}
{% block content %}
    <div id="indicator">
        <div id="line" data-now=""></div>
    </div>
    <div class="pep-container">
{#        <div class="timeline-controls">#}
{#            <div id="pep__left" class="pep__arrows controls__item"><i class="material-icons">fast_rewind</i></div>#}
{#              <div id="digital_watch" class="controls__item"></div>#}
{#            <div id="timeline-interval" class="controls__item"><span id="date-start"></span><span id="data-end"></span></div>#}
{#            <div id="pep__right" class="pep__arrows controls__item"><i class="material-icons">fast_forward</i></div>#}
{#        </div>#}
        <div id="timeline"></div>
    </div>
    <main>
        <div id="news" class="middle-content show"><i class="material-icons close">clear</i></div>
        <div id="slider" class="slider middle-content">
             <div class="vertical_container">
                  <div id="left-arrow" class="slider__controls"><i class="material-icons">chevron_left</i></div>
                 <div id="right-arrow" class="slider__controls"><i class="material-icons">chevron_right</i></div>
             </div>
             <div id="slider-content"></div>
        </div>
    </main>
    <div class="schedule-container">
        <div id="main-schedule"></div>
    </div>
{% endblock %}

{% include 'main/handlebars_templates.html' %}
{% block js %}
    <script src="{{ url_for('static', filename='js/resize.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/lib/jquery.pep.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/lib/lightslider/js/lightslider.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/lib/handlebars.min.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/helpers.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/modules/slider.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/modules/schedule.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/modules/timeline.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/modules/news.js') }}"></script>
    <script src="{{ url_for('main.static', filename='js/main.js') }}"></script>
{% endblock %}