<script src="{{ url_for('static', filename='js/oauth_popup.js') }}"></script>
<script type="text/javascript">
        //create new oAuth popup window and monitor it
        var oauth_login = function(url){
            $.oauthpopup({
                path: url,
                callback: function(){
                    window.location.reload();
                }
            });
        }
</script>

<div class="login-buttons">
    <div class="soc_icon" title="Facebook" onclick="oauth_login('{{ url_for('account.facebook_login') }}')" title="Войти через Facebook"  style="background-image: url('{{ url_for('account.static',filename='img/soc_icons/facebook.svg') }}');background-color: #5784D6;"></div>
    <div class="soc_icon" title="Google" onclick="oauth_login('{{ url_for('account.google_login') }}')" title="Войти через Google" style="background-image: url('{{ url_for('account.static',filename='img/soc_icons/google.svg') }}');background-color: #A94C4C;"></div>
    <div class="soc_icon" title="Vkontakte" onclick="oauth_login('{{ url_for('account.vk_login') }}')" style="background-image: url('{{ url_for('account.static',filename='img/soc_icons/vk.svg') }}'); background-color: #438EC3;"></div>
<div>

{#        <form method="POST" action="">#}
{#            {{ form.hidden_tag() if form.hidden_tag }}#}
{#            {% for f in form if f.type != 'CSRFTokenField' %}#}
{#            <div>#}
{#                {{ f.label }}#}
{#                {{ f }}#}
{#                {% if f.errors %}#}
{#                    <ul>#}
{#                        {% for e in f.errors %}#}
{#                        <li>{{ e }}</li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                {% endif %}#}
{#            </div>#}
{#            {% endfor %}#}
{#            <button class="btn" type="submit">Submit</button>#}
{#        </form>#}
{#        {{ link | safe }}#}

</div>
</div>

{% for message in get_flashed_messages() %}
    <p class=message>{{ message }}</p>
{% endfor %}