/*** Fonts ***/
main #chat-container {
  width: 300px;
  padding: 10px;
  font-size: 11px;
  background-color: rgba(0, 0, 0, 0.5); }
  main #chat-container #chat {
    height: 460px;
    overflow: hidden;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-align-content: flex-end;
    align-content: flex-end;
    -ms-flex-line-pack: flex-end; }

.comment {
  position: relative;
  margin: 5px 0;
  transition: all .2s ease-in-out; }
  .comment:before {
    content: "";
    display: table;
    line-height: 0; }

.comment__user {
  margin-right: 12px;
  float: left; }

.user__avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px; }

.comment__message {
  margin-bottom: 10px; }
  .comment__message header {
    margin-top: -1px; }
    .comment__message header .username {
      font-weight: 600; }
  .comment__message .message__body {
    font-size: 12px; }

.login-buttons {
  margin-left: 20px;
  width: 150px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: justify; }

.soc_icon {
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.room {
  position: absolute;
  top: 50%;
  margin-top: -300px;
  height: 500px;
  width: 1100px; }
  .room .video {
    width: 800px;
    height: 500px;
    margin: 0 auto; }

#text {
  background-color: #000;
  outline: none;
  color: rgba(254, 254, 254, 0.6);
  border: 1px #1D1D1D solid;
  font-size: 12px; }

/*# sourceMappingURL=chat.css.map */
