{% extends 'base.html' %}
 {% block css %}
     <link href="{{ url_for('room.static', filename='css/chat.css') }}" rel="stylesheet">
 {% endblock %}
{% block js %}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
            <script src="{{ url_for('main.static', filename='js/lib/jquery.pep.js') }}"></script>

        <script type="text/javascript"  charset="utf-8">
           $(document).ready(function(){
                $('#chat-container').pep({
                        cssEaseDuration: 750,
                        cssEaseString: 'cubic-bezier(0.215, 0.610, 0.355, 1.000)',
                        elementsWithInteraction: '#text',
                        initiate: function (ev, obj) {},
                        start: function (ev, obj) {},
                        stop: function (ev, obj) {},
                        rest: function (ev, obj) {}
                });
           });
        </script>

        <script type="text/javascript" src="{{url_for('room.static', filename='js/chat.js')}}" charset="utf-8"></script>
{% endblock %}
{% block headmenu %}
        <nav class="head__menu">
            <ul>
                <li><a target="_blank" class="room_link"  href="{{ url_for('main.index') }}">Вернуться на главную</a></li>
                <!--<li><a href="">Зал <i class="material-icons">fiber_manual_record</i></a></li>-->
            </ul>
        </nav>
{% endblock %}
{% block content %}
    {% if current_user.is_authenticated %}{% endif %}
    <main>
        <div class="room">
            <div id="chat-container">
                <div id="chat" ></div>
                {% if login %}
                    {% include '/account/form.html' %}
                {% else %}
                    <div class="form-control">
                        <input id="text" class="" size="80" placeholder="Сообщение">
                    </div>
                {% endif %}
            </div>
            <div class="video">
                <!--<iframe width="1000" height="500" src="https://www.youtube.com/embed/xIUA8PGsZ6c?autoplay=1" frameborder="0" allowfullscreen></iframe>-->
                <iframe width="100%" height="100%"  src="https://www.youtube.com/embed/ZbycC2THTQY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </main>
{% endblock %}