{% extends 'base.html' %}
 {% block css %}
     <link href="{{ url_for('room.static', filename='css/chat.css') }}" rel="stylesheet">
 {% endblock %}
{% block js %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
   <script type="text/javascript"  charset="utf-8">
               $(document).ready(function(){
                    window.page_type = 'fullscreen'
               })
        </script>
    <script type="text/javascript" src="{{url_for('room.static', filename='js/chat.js')}}" charset="utf-8"></script>
{% endblock %}
{% block headmenu %}
        <nav class="head__menu">
            <ul>
                <li><a target="_blank" class="room_link"  href="{{ url_for('main.index') }}">Вернуться на главную</a></li>
                <!--<li><a href="">Зал <i class="material-icons">fiber_manual_record</i></a></li>-->
            </ul>
        </nav>
{% endblock %}
{% block content %}
    {% if current_user.is_authenticated %}{% endif %}
      <main>
        <div class="room fullscreen">
            <div class="room__item">
                <!--<iframe width="100%" height="100%" src="https://www.youtube.com/embed/xIUA8PGsZ6c?autoplay=1" frameborder="0" allowfullscreen></iframe>-->
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZbycC2THTQY" frameborder="0" allowfullscreen></iframe>

                <div id="chat-container" class="room__item">
                    <div id="chat" ></div>
                    {% if login %}
                        <span id="login-text">Присоединяйтесь к нам! </span>
                        {% include '/account/form.html' %}
                    {% else %}
                        <div>
                            <input id="text" class="" size="80" placeholder="Сообщение"><br><br>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
      </main>
{% endblock %}