/*** Fonts ***/
#chat-container {
  width: 1000px; }

.comment {
  position: relative;
  margin: 12px 0;
  transition: all .2s ease-in-out; }
  .comment:before {
    content: "";
    display: table;
    line-height: 0; }

.comment__user {
  margin-right: 12px;
  float: left; }

.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px; }

.comment__message header .username {
  font-weight: 700; }

.login-buttons {
  width: 150px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: inline-flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: justify; }

.soc_icon {
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

/*# sourceMappingURL=chat.css.map */
