/*** Fonts ***/
@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("../font/roboto/Roboto-Thin.eot");
  src: url("../font/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../font/roboto/Roboto-Thin.woff2") format("woff2"), url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200; }
@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("../font/roboto/Roboto-Light.eot");
  src: url("../font/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../font/roboto/Roboto-Light.woff2") format("woff2"), url("../font/roboto/Roboto-Light.woff") format("woff"), url("../font/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../font/roboto/Roboto-Regular.eot");
  src: url("../font/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../font/roboto/Roboto-Regular.woff2") format("woff2"), url("../font/roboto/Roboto-Regular.woff") format("woff"), url("../font/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Medium.eot");
  src: url("../font/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../font/roboto/Roboto-Medium.woff2") format("woff2"), url("../font/roboto/Roboto-Medium.woff") format("woff"), url("../font/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Bold.eot");
  src: url("../font/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../font/roboto/Roboto-Bold.woff2") format("woff2"), url("../font/roboto/Roboto-Bold.woff") format("woff"), url("../font/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../font/iconfont/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../font/iconfont//MaterialIcons-Regular.woff2") format("woff2"), url("../font/iconfont//MaterialIcons-Regular.woff") format("woff"), url("../font/iconfont//MaterialIcons-Regular.ttf") format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.form-control input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  font-size: 14px;
  color: #333;
  background-color: #cecece;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.35) ;
  -moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.35) ;
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.35) ; }

html {
  font-family: 'Open Sans', Verdana, Tahoma, Arial, sans-serif;
  font-size: 14px; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

.uppercase {
  text-transform: uppercase; }

.left-align {
  text-align: left; }

.right-align {
  text-align: right; }

.center-align {
  text-align: center; }

@-webkit-keyframes alert_text {
  0% {
    color: #f5f5f5; }
  50% {
    color: #B71C1C; } }
@-webkit-keyframes blink_text {
  0% {
    color: #f5f5f5; }
  50% {
    color: rgba(34, 34, 34, 0); } }
.left {
  float: left !important; }

.right {
  float: right !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.fade-out {
  visibility: visible;
  opacity: 1;
  transition: opacity 5s linear; }

.fade-in {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 5s, opacity 5s linear; }

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
  /* This makes sure that we can still click outside of the modal to close it */ }

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none; }

body {
  width: 100%;
  overflow-x: hidden; }

a {
  color: #f5f5f5; }

ul {
  padding: 0; }
  ul li {
    list-style-type: none; }

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#111111+0,222222+100 */
  background: #000000;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #000000 0%, #222222 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #000000 0%, #222222 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #000000 0%, #222222 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#222222',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  margin: 0;
  padding: 0;
  color: #f5f5f5; }

#head {
  height: 27px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #111;
  transition: ease-out 250ms; }

#item-1 {
  height: 50px; }

#item-2 {
  height: 70px; }

nav > ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0; }
  nav > ul li {
    list-style: none;
    padding: 0 10px; }

.head__menu > ul {
  margin: 2px 0 0 10px;
  padding: 0; }
  .head__menu > ul li ul {
    position: absolute;
    opacity: 0;
    -webkit-transition: 0.25s linear opacity; }
    .head__menu > ul li ul li a {
      white-space: nowrap; }
  .head__menu > ul li:hover ul {
    left: 0;
    opacity: 1; }

.head__menu a {
  font-size: 90%;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 3px 15px;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.head__menu a:hover {
  background-color: #303030; }

.room_link {
  background-color: #A1330E; }

.room_link:hover {
  background-color: #BA3B11 !important; }

.pep-container {
  width: 100%;
  height: 200px;
  position: absolute;
  background: #0A646D;
  top: 0;
  left: 0;
  color: #f5f5f5; }

.timeline-controls {
  position: absolute;
  width: 100px;
  height: 20px;
  left: 50%;
  margin-left: -50px;
  z-index: 111; }

.controls__item {
  float: left; }

.pep__arrows {
  color: #E3C47D;
  background-color: #222;
  display: inline-block;
  height: 100%;
  cursor: pointer; }

.pep__arrows:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

.pep__controls:hover {
  color: #F9DF64;
  background-color: rgba(162, 159, 159, 0.01); }

#indicator {
  position: absolute;
  top: 0;
  left: 50%;
  height: 200px;
  margin-left: -15px;
  width: 30px;
  z-index: 99; }

.time-dots {
  margin: 0 3px;
  -webkit-animation: blink_text 2s infinite ease-in-out; }

#line {
  position: absolute;
  width: 2px;
  height: 100%;
  cursor: pointer;
  margin-left: 14px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f51b5+0,0d47a1+22,2989d8+47,1976d2+75,01579b+98 */
  background: #3f51b5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3f51b5 0%, #0d47a1 22%, #2989d8 47%, #1976d2 75%, #01579b 98%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3f51b5 0%, #0d47a1 22%, #2989d8 47%, #1976d2 75%, #01579b 98%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3f51b5 0%, #0d47a1 22%, #2989d8 47%, #1976d2 75%, #01579b 98%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f51b5', endColorstr='#01579b', GradientType=0);
  /* IE6-9 */ }

#triangle {
  background: #3c78ff;
  background: -moz-linear-gradient(top, #3c78ff 0%, #0a50b4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c78ff), color-stop(100%, #0a50b4));
  /* Chrome,Safari4+ */
  -webkit-transform: rotate(45deg);
  height: 30px;
  width: 30px;
  margin-top: -26px; }

.middle-content {
  display: none; }

main {
  width: 1100px;
  margin-right: auto;
  margin-left: auto; }

#news {
  position: relative;
  width: 100%;
  background-color: #1D1D1D; }
  #news .close {
    position: absolute;
    top: -31px;
    right: 0; }

#news article {
  padding: 10px 20px; }

.card:before {
  position: absolute;
  border-left: 1px rgba(68, 183, 139, 0.52) solid;
  content: '';
  width: 1px;
  margin-top: -10px;
  top: 0;
  bottom: -15px; }

.card {
  background-color: #111;
  padding: 0;
  position: absolute;
  cursor: pointer;
  margin-top: 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4) ;
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4) ;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.4) ; }
  .card .showtime {
    top: 0;
    margin: 15px 0 0 -40px;
    width: 40px;
    padding: 1px 4px;
    font-size: 0.8rem;
    position: absolute;
    background: #111;
    border: 1px rgba(254, 254, 254, 0.6) solid;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.9) ;
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.9) ;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.9) ; }

.card .info {
  text-align: center;
  margin-top: -29px;
  position: absolute;
  width: 100%;
  padding: 5px 0;
  font-size: 0.9rem;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+10,000000+49,000000+69,000000+100&0+0,0.52+35,0.65+49,0.53+63,0+100 */
  background: -moz-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0.52) 35%, rgba(0, 0, 0, 0.65) 49%, rgba(0, 0, 0, 0.53) 63%, rgba(0, 0, 0, 0.44) 69%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0.52) 35%, rgba(0, 0, 0, 0.65) 49%, rgba(0, 0, 0, 0.53) 63%, rgba(0, 0, 0, 0.44) 69%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0.52) 35%, rgba(0, 0, 0, 0.65) 49%, rgba(0, 0, 0, 0.53) 63%, rgba(0, 0, 0, 0.44) 69%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
  /* IE6-9 */ }
  .card .info .info__text {
    padding: 5px 10px; }

.col:after {
  position: absolute;
  border-left: 1px #eee solid;
  content: '';
  height: 17px;
  margin-bottom: -25px;
  width: 1px;
  bottom: 0; }

.col {
  display: inline-block;
  height: 100%; }
  .col .col__date {
    position: absolute;
    bottom: 0;
    margin-bottom: -70px;
    margin-left: -21px;
    font-size: 11px;
    background-color: #f5f5f5;
    color: #222;
    padding: 2px 4px;
    font-weight: 600; }
  .col .col__time {
    position: absolute;
    bottom: 0;
    margin-bottom: -45px;
    margin-left: -18px;
    font-size: 12px; }

.col + .col {
  margin-left: 300px; }

#timeline {
  /*width: 6000px;*/
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 2px black solid; }

#timeline:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8px;
  margin-bottom: -21px;
  background-size: 10px;
  margin-left: 1px;
  background-image: -webkit-linear-gradient(0, transparent 92%, #CCCCCC 1px); }

#slider {
  position: relative;
  width: 100%; }

#slider-content {
  white-space: nowrap;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
  /* future */
  -webkit-transition: cubic-bezier(0.19, 1, 0.22, 1);
  /* chrome, safari, etc. */
  -moz-transition: cubic-bezier(0.19, 1, 0.22, 1);
  /* firefox*/
  -ms-transition: cubic-bezier(0.19, 1, 0.22, 1);
  /* microsoft */
  -o-transition: cubic-bezier(0.19, 1, 0.22, 1);
  /* opera */
  transition-duration: 750ms;
  -webkit-transition-duration: 750ms;
  -moz-transition-duration: 750ms;
  -o-transition-duration: 750ms;
  -ms-transition-duration: 750ms; }

.slider .slider__controls {
  position: absolute;
  color: #eee;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
  padding: 10px;
  border-radius: 35px;
  background-color: rgba(162, 159, 159, 0.05);
  border: 1px #383838 solid;
  top: 50%;
  margin-top: -37px; }
.slider .slider__controls:hover {
  color: #F9DF64;
  background-color: rgba(84, 76, 76, 0.3); }
.slider .slider__controls > i {
  font-size: 52px; }
.slider .slider__slide {
  display: inline-block;
  height: 500px;
  overflow: hidden;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
.slider .slide__container {
  max-width: 1000px;
  white-space: nowrap; }
.slider .slide__menu {
  position: absolute;
  width: 100%;
  margin-top: -45px; }
  .slider .slide__menu ul li:last-child {
    margin-left: auto; }
.slider ul.image-gallery {
  list-style: none outside none;
  padding-left: 0;
  margin: 0; }
.slider .slide__images__list {
  position: relative;
  margin-top: -20px; }
.slider .slide__menu__link {
  text-decoration: none; }
.slider .slide__menu__link:hover {
  text-decoration: underline; }
.slider .slide__content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: url("../img/transparent.png");
  background-position: 0 0; }
.slider .slide__info {
  white-space: normal;
  padding: 10px;
  line-height: 25px; }
  .slider .slide__info li + li {
    margin-top: 10px; }
  .slider .slide__info span {
    color: #019FE8; }

#right-arrow {
  right: 0;
  margin-right: -60px; }

#left-arrow {
  left: 0;
  margin-left: -60px; }

.get-right {
  float: right; }

.get-left {
  float: left; }

.schedule-container {
  width: 100%;
  margin-top: 35px; }

#main-schedule {
  max-width: 1200px;
  margin: 30px auto 100px; }

.date {
  display: inline-block;
  vertical-align: top;
  font-size: 0.9rem;
  width: 180px; }
  .date p {
    height: 33px; }
  .date p span:first-child {
    color: #019FE8; }
  .date p span.movie-name {
    margin-left: 10px;
    width: 125px; }
  .date .day {
    color: #E2E07C;
    margin-left: 6px; }
  .date .month {
    color: #E2E07C;
    font-weight: 700; }
  .date .clickable span.movie-name {
    cursor: pointer;
    border-bottom: 1px rgba(254, 254, 254, 0.6) dotted; }
  .date .clickable span.movie-name:hover {
    border-bottom: none; }

div.autocaption > * {
  margin: 0;
  padding: 0;
  width: 27%;
  border: 7px solid white;
  margin: 10px;
  background: #fff;
  display: inline-block;
  box-shadow: 0 10px 8px -6px rgba(0, 0, 0, 0.2); }

div.autocaption figure img {
  width: 100%;
  height: auto; }

div.autocaption figcaption {
  padding: 5px; }

.close {
  cursor: pointer;
  background-color: transparent;
  border-radius: 15px; }

.close:hover {
  background-color: #f5f5f5;
  color: #222; }

/*# sourceMappingURL=main.css.map */
