@import 'components/mixins';
@import 'components/variables';

main #chat-container {
  width: 300px;
  padding: 10px;
  font-size: 11px;
  background-color: rgba(0, 0, 0, 0.5);
  #chat {
    height: $chat-height;
    overflow: hidden;
    @include flex('flex', column, nowrap, flex-end, flex-end);
  }
}

.comment {
  position: relative;
  margin: 5px 0;
  transition: all .2s ease-in-out;

  &:before {
    content: "";
    display: table;
    line-height: 0;
  }
}

.comment__user {
  margin-right: 12px;
  float: left;
}

.user__avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px
}

.comment__message {
  margin-bottom: 10px;
  header {
    margin-top: -1px;
    .username {
      font-weight: 600;
    }
  }
  .message__body {
    font-size: 12px;
  }
}

.login-buttons {
  margin-left: 20px;
  width: 150px;
  @include flex('inline-flex', row, wrap, space-around);
}

.soc_icon {
  cursor: pointer;
  @include border-radius(15px);
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.room {
  position: absolute;
  top: 50%;
  margin-top: -300px;
  height: $video-height;
  width: $content-width-md;

  .video {
    width: $video-width;
    height: $video-height;
    margin: 0 auto;
  }
}

#text {
  background-color: #000;
  outline: none;
  color: $color-light-transparent;
  border: 1px #1D1D1D solid;
  font-size: 12px;
}