@import 'components/variables';
@import 'components/robo';
@import 'components/material-icons';
@import 'components/mixins';
@import 'components/forms';
@import 'components/type';
@import 'components/helpers';

body {
  width: 100%;
  overflow-x: hidden;
}

a{
  color: $color-light;
}

ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}

body {
  //background-color: $color-dark;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#111111+0,222222+100 */
background: #000000; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #000000 0%, #222222 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #000000 0%,#222222 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #000000 0%,#222222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#222222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  margin: 0;
  padding: 0;
  color: $color-light;
}

#head {
  height: 27px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: $color-dark-base;
  transition: ease-out 250ms;
}

#item-1 {
  height: 50px;
}

#item-2 {
  height: 70px;
}

nav > ul {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 0;
  li {
    list-style: none;
    padding: 0 10px;
  }
}

.head__menu > ul {
  margin: 2px 0 0 10px;
  padding: 0;

  li {
    ul {
      position: absolute;
      opacity: 0;
      -webkit-transition: 0.25s linear opacity;
      li a {
        white-space: nowrap;
      }
    }
  }

  li:hover {

    ul {
      left: 0;
      opacity: 1;
    }
  }

}

.head__menu a {
    font-size: 90%;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 3px 15px;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.head__menu a:hover{
    background-color:#303030;
}
.room_link{
    background-color: #A1330E ;
}
.room_link:hover{
    background-color: #BA3B11 !important;
}
.pep-container {
    width: 100%;
    height: 200px;
    position: absolute;
    background: #0A646D;
    top: 0;
    left: 0;
    color: $color-light;
}

.timeline-controls {
    position: absolute;
    width: 100px;
    height: 20px;
    left:50%;
    margin-left:-50px;
    z-index: 111;
}

.controls__item {
    float: left;
}

.pep__arrows {
    color: $color-brown-light;
    background-color: #222;
    display: inline-block;
    height: 100%;
    cursor: pointer;
}

.pep__arrows:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.pep__controls:hover {
    color: #F9DF64;
    background-color: rgba(162, 159, 159, 0.01);
}


#indicator {
    position: absolute;
    top: 0;
    left: 50%;
    height: 200px;
    margin-left: -15px;
    width: 30px;
    z-index: 99;
}

#digital_watch {
  //position: absolute;
  //top: 2px;
  //left: 50%;
  //margin-left: -20px;
}

.time-dots {
    margin: 0 3px;
    -webkit-animation: blink_text 2s infinite ease-in-out;
}

#line {
    position: absolute;
    width: 2px;
    height: 100%;
    cursor: pointer;
    margin-left: 14px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f51b5+0,0d47a1+22,2989d8+47,1976d2+75,01579b+98 */
    background: rgb(63, 81, 181); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(63, 81, 181, 1) 0%, rgba(13, 71, 161, 1) 22%, rgba(41, 137, 216, 1) 47%, rgba(25, 118, 210, 1) 75%, rgba(1, 87, 155, 1) 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(63, 81, 181, 1) 0%, rgba(13, 71, 161, 1) 22%, rgba(41, 137, 216, 1) 47%, rgba(25, 118, 210, 1) 75%, rgba(1, 87, 155, 1) 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(63, 81, 181, 1) 0%, rgba(13, 71, 161, 1) 22%, rgba(41, 137, 216, 1) 47%, rgba(25, 118, 210, 1) 75%, rgba(1, 87, 155, 1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f51b5', endColorstr='#01579b', GradientType=0); /* IE6-9 */
}

#triangle {
    background: rgb(60, 120, 255);
    background: -moz-linear-gradient(top, rgba(60, 120, 255, 1) 0%, rgba(10, 80, 180, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(60, 120, 255, 1)), color-stop(100%, rgba(10, 80, 180, 1))); /* Chrome,Safari4+ */
    -webkit-transform: rotate(45deg);
    height: 30px;
    width: 30px;
    margin-top: -26px;
}

.middle-content {
    //visibility: hidden;
    display: none;
}

main {
    width: $content-width-md;
    margin-right: auto;
    margin-left: auto;
}

#news {
    position: relative;
    width: 100%;
    background-color: #1D1D1D;

    .close{
      position: absolute;
      top:-31px;
      right: 0;
    }
}

#news article {
    padding: 10px 20px
}

.card:before {
    position: absolute;
    border-left: 1px rgba(68, 183, 139, 0.52) solid;
    content: '';
    width: 1px;
    margin-top: -10px;
    top: 0;
    bottom: -15px;
}

.card {
    background-color: $color-dark-base;
    padding: 0;
    position: absolute;
    cursor: pointer;
    margin-top: 35px;
    @include border-radius(3px);
    @include box-shadow(1px, 1px, 2px, 1px, rgba(0, 0, 0, 0.4));



    .showtime {
      top: 0;
      margin: 15px 0 0 -40px;
      width: 40px;
      padding: 1px 4px;
      font-size: 0.8rem;
      position: absolute;
      background: $color-dark-base;
      border: 1px $color-light-transparent solid;
      @include box-shadow(1px, 1px, 2px, 1px, rgba(0, 0, 0, 0.9));
    }
}

//.card:hover{
//  @include box-shadow(1px, 1px, 2px, 1px, rgba(0, 0, 0, 0.9));
//}
.card .info {
    text-align: center;
    margin-top: -29px;
    position: absolute;
    width: 100%;
    padding: 5px 0;
    font-size: 0.9rem;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+10,000000+49,000000+69,000000+100&0+0,0.52+35,0.65+49,0.53+63,0+100 */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0.52) 35%, rgba(0, 0, 0, 0.65) 49%, rgba(0, 0, 0, 0.53) 63%, rgba(0, 0, 0, 0.44) 69%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0.52) 35%, rgba(0, 0, 0, 0.65) 49%, rgba(0, 0, 0, 0.53) 63%, rgba(0, 0, 0, 0.44) 69%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0.52) 35%, rgba(0, 0, 0, 0.65) 49%, rgba(0, 0, 0, 0.53) 63%, rgba(0, 0, 0, 0.44) 69%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1); /* IE6-9 */

    .info__text {
      padding: 5px 10px;
    }
}

.col:after {
    position: absolute;
    border-left: 1px #eee solid;
    content: '';
    height: 17px;
    margin-bottom: -25px;
    width: 1px;
    bottom: 0;
}

.col {
    display: inline-block;
    height: 100%;

     .col__date {
       position: absolute;
       bottom: 0;
       margin-bottom: -70px;
       margin-left: -21px;
       font-size: 11px;
       background-color: $color-light;
       color:$color-dark;
       padding: 2px 4px;
       font-weight: 600;
    }

    .col__time {
      position: absolute;
      bottom: 0;
      margin-bottom: -45px;
      margin-left: -18px;
      font-size: 12px;
    }
}

.col + .col {
    margin-left: 300px;
}

#timeline {
/*width: 6000px;*/
    top:0;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 2px black solid;
}

#timeline:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    margin-bottom: -21px;
    background-size: 10px;
    margin-left: 1px;
    background-image: -webkit-linear-gradient(0, transparent 92%, $color-grey 1px);
}

#slider {
    position: relative;
    width: 100%;
    //font-family: 'Merriweather', sans-serif;
    //  overflow: hidden;
}

#slider-content {
    white-space: nowrap;
    transition: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* future */
    -webkit-transition: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* chrome, safari, etc. */
    -moz-transition: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* firefox*/
    -ms-transition: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* microsoft */
    -o-transition: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* opera */

    transition-duration: 750ms;
    -webkit-transition-duration: 750ms;
    -moz-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    -ms-transition-duration: 750ms;
}
.slider {
  .slider__controls {
    position: absolute;
    color: #eee;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    border-radius: 35px;
    background-color: rgba(162, 159, 159, 0.05);
    border: 1px #383838 solid;
    top: 50%;
    margin-top: -37px;
  }
  .slider__controls:hover {
    color: #F9DF64;
    background-color: rgba(84, 76, 76, 0.3);
  }
  .slider__controls > i {
    font-size: 52px;
  }
  .slider__slide {
    display: inline-block;
    height: 500px;
    overflow: hidden;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .slide__container {
    max-width: 1000px;
    white-space: nowrap;
  }
  .slide__menu {
    position: absolute;
    width: 100%;
    margin-top: -45px;
    ul li:last-child {
      margin-left: auto;
    }
  }
  ul.image-gallery{
      list-style: none outside none;
      padding-left: 0;
      margin: 0;
  }
  .slide__images__list{
      position:relative;
      margin-top:-20px;
  }
  .slide__menu__link{
    text-decoration: none;
  }
  .slide__menu__link:hover{
    text-decoration: underline;
  }
  .slide__content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-image: url("../img/transparent.png");
    background-position: 0 0;
  }

  .slide__info {
    white-space: normal;
    padding: 10px;
    line-height: 25px;
    //font-family: "Roboto Mono";
    li + li {
      margin-top: 10px;
    }
    span {
      color: #019FE8;
    }
  }
}

#right-arrow {
  right: 0;
  margin-right: -60px;
}

#left-arrow {
  left: 0;
  margin-left: -60px;
}

.get-right {
  float: right;
}

.get-left {
  float: left;
}

.schedule-container {
  width: 100%;
  margin-top: 35px;
}

#main-schedule {
  max-width: 1200px;
  margin: 30px auto 100px;
}

.date {
  display: inline-block;
  vertical-align: top;
  font-size: 0.9rem;
  width: 180px;

  p{
    height: 33px;
  }
  p span {
    //display: inline-block;
    //float: left;
  }
  p span:first-child {
    color: #019FE8;
  }
  p span.movie-name {
    margin-left: 10px;
    width: 125px;
  }
  .day {
    color: #E2E07C;
    margin-left: 6px;
  }

  .month {
    color: $color-yellow;
    font-weight:700;
  }

  .clickable span.movie-name {
    cursor: pointer;
    border-bottom: 1px $color-light-transparent dotted;
  }

  .clickable span.movie-name:hover{
        border-bottom:none;
  }

}

div.autocaption > * {
  margin: 0;
  padding: 0;
  width: 27%;
  border: 7px solid white;
  margin: 10px;
  background: #fff;
  display: inline-block;
  box-shadow: 0 10px 8px -6px rgba(0, 0, 0, 0.2);
}

div.autocaption figure img {
  width: 100%;
  height: auto;
}

div.autocaption figcaption {
  padding: 5px;
}

.close {
  cursor: pointer;
  background-color: transparent;
  border-radius: 15px;
  //transition: background-color 100ms linear;
}

.close:hover {
//  -webkit-animation: alert_text 1s infinite ease-in-out;
//  -webkit-animation: alert_text 1s infinite ease-in-out;
    background-color: $color-light;
    color: $color-dark;
    //transition: background-color 100ms linear;
}

