<html>
  <head>
    <meta charset="utf-8">
    <title>Смотрим Вместе</title>
    <!-- Load local jQuery.  -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.mousewheel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/jquery.jscrollpane.min.js') }}"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{#  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <!-- Load local lib and tests. -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery.jscrollpane.css') }}" rel="stylesheet">

    {% block css %}
    {% endblock %}
  </head>
  <body style="overflow: hidden">
      <div id="full-page-container">
          <div id="head">
              {% block headmenu %}
              {% endblock %}
          </div>

          {% block content %}
          {% endblock %}

          <footer></footer>
      </div>
    {% block js %}
    {% endblock %}
  </body>
</html>