.left{
  float:left !important;
}
.right{
  float:right !important;
}
.hide {
      //visibility: hidden !important;
      display:none !important;
}
.show {
      //visibility: visible !important;
      display:block !important;
}


.fade-out {
  visibility: visible;
  opacity: 1;
  transition: opacity 5s linear;
}
.fade-in {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 5s, opacity 5s linear;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}