@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($x, $y, $blur, $spread, $color,$inset:"") {
  -webkit-box-shadow: $x $y $blur $spread $color unquote($inset);
     -moz-box-shadow: $x $y $blur $spread $color unquote($inset);
          box-shadow: $x $y $blur $spread $color unquote($inset);
}
@mixin flex($display, $direction, $wrap, $justify, $align-items:"", $align-content:""){
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

  @if $display == 'inline-flex' {
      display: -ms-inline-flexbox;
      display: -webkit-inline-flex;
      display: inline-flex;
  }@else {
      display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
  }

  @if($direction){
    -webkit-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
  }

  @if($wrap){
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
  }

  @if($justify){
    -webkit-justify-content: $justify;
    justify-content: $justify;

    @if($justify=='flex-start'){
         -ms-flex-pack: start;
    } @else if($justify == 'flex-end'){
        -ms-flex-pack: end;
    } @else if($justify == 'space-between'){
        -ms-flex-pack: distribute;
    } @else if($justify == 'space-around'){
           -ms-flex-pack: justify;
    }@else{
       -ms-flex-pack:$justify
    }
  }

  @if($align-items!=""){
    -webkit-align-content: $align-items;
    align-content: $align-items;

     @if($align-items=='flex-start'){
           -ms-flex-line-pack: start;
     } @else if($align-items == 'flex-end'){
          -ms-flex-line-pack: $align-items;
     }
  }

 @if($align-content!=""){
    -webkit-align-content: $align-content;
    align-content: $align-content;

     @if($align-content=='flex-start'){
           -ms-flex-line-pack: start;
     } @else if($align-content == 'flex-end'){
          -ms-flex-line-pack: $align-content;
     }@else if($align-content == 'space-between'){
        -ms-flex-pack: distribute;
     } @else if($align-content == 'space-around'){
           -ms-flex-pack: justify;
     }@else{
          -ms-flex-pack:$justify
     }

  }
}