html{
  //font-family: 'Roboto Mono', Verdana, Tahoma, Arial, sans-serif;
  //font-family: 'Merriweather', sans-serif;
  font-family: 'Open Sans', Verdana, Tahoma, Arial, sans-serif;
  font-size: $font-size-base;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

.uppercase{
  text-transform:uppercase;
}
.left-align{
  text-align: left;
}
.right-align{
  text-align:right;
}
.center-align{
  text-align:center;
}

@-webkit-keyframes alert_text {
  0% {
    color: $color-light;
  }
  50% {
    color: $color-red;
  }
}

@-webkit-keyframes blink_text {
  0% {
    color: $color-light;
  }
  50% {
    color: rgba(34, 34, 34,0);
  }
}