/*** Fonts ***/
$roboto-font-path: "../font/roboto/" !default;
$icons-font-path: "../font/iconfont/" !default;

$color-dark-transparent25: rgba(0, 0, 0, 0.25);
$color-dark-base: #111;
$color-dark: #222;
$color-dark-light: #555;
$color-light: #f5f5f5;
$color-light-transparent: rgba(254, 254, 254, 0.6);
$color-brown-light: #E3C47D;
$color-yellow: #E2E07C;
$color-grey: #CCCCCC;
$color-red: #B71C1C;

$font-size-base: 14px;

$font-size-h1: floor(($font-size-base * 2.6)); // ~36px
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px


$input-height-base: 40px;
$padding-base-vertical: 10px;
$padding-base-horizontal: 2*$padding-base-vertical;
$input-color: #333;
$input-bg : #cecece;
$input-border: #ccc;
$input-border-radius: 1px;

$content-width-md: 1100px;
$content-width-sm: 500px;

$video-width: 800px;
$video-height: 500px;

$chat-height: $video-height - $input-height-base